<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
   <div id="content" class="content">List of featurs working with jQuery</div>
   <ul id="features"></ul>
   <div id="react_content">
   </div>
</body>
</html>